
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
  <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}" />
          <script src="{{ asset('libs/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    </head>
    <body>
 <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {{ form_start(registrationForm) }}
                      <div class="mb-4">
            {{ form_row(registrationForm.firstName) }}
            </div>
                              <div class="mb-4">

        {{ form_row(registrationForm.email) }}
                    </div>

                          <div class="mb-4">

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                    </div>

            <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit"> Register </button>

    {{ form_end(registrationForm) }}
     <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="{{path ('app_login')}}">Sign In</a>
                  </div>
 
 
 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

