{% extends 'user_base.html.twig' %}

{% block title %}Sales{% endblock %}

{% block body %}
    <h1>Sales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sale.createdAt ? sale.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TotalAmount</th>
                <td>${{ sale.totalAmount }}</td>
            </tr>
        </tbody>
    </table>


                  <table id="dtBasicExample" class="table text-nowrap mb-0 align-middle">

                    <thead class="text-dark fs-4">
            <tr>
                <th>Id</th>
                <th>Product_name</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
{% for product in sale.purchasedProducts  %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.size  }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.qty  }}</td>
                <td>${{ product.price * product.qty  }}</td>

                
          <tr>
      
{% endfor %}
  </tbody>
    </table>

{% endblock %}
