{% extends 'user_base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}


 <div class="d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Product</h5>
                <div class="table-responsive">
    <a href="{{ path('app_product_new') }}" class="btn btn-primary">Create new</a>
<br><br>

                  <table id="dtBasicExample" class="table text-nowrap mb-0 align-middle">

                    <thead class="text-dark fs-4">
            <tr>
                <th>Id</th>
                <th>Product_name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Sizes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.sizes ? product.sizes|join(',') : '' }}</td>
                <td>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}"> <i class="ti ti-edit"></i></a>
            <a href="{{ path('app_product_delete', {'id': product.id}) }}"  onclick="return confirm('Are you sure you want to delete this item?');">
    <i class="ti ti-trash"></i>
</a>            
   </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>

    <script>
    $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}
